@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient httpClient
@inject IAccessTokenProvider TokenProvider

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button disabled=@IsBusy @onclick=callAdminApi>Call Admin API</button>

<p>@result</p>

@code {
    string result;
    bool IsBusy = false;
    async void callAdminApi()
    {
        IsBusy = true;
        var token = await TokenProvider.RequestAccessToken();
        if (token.TryGetToken(out var accessToken))
        {
            httpClient.DefaultRequestHeaders.Add("Authorization", $"Bearer {accessToken.Value}");
            result = await httpClient.GetStringAsync("api/admin");
        }
        IsBusy = false;
    }
}